*{
  margin:0;
  box-sizing: border-box;
}

h1, h2,h3,h4{
        font-family: "Outfit";
        
        font-weight:2000;
}

p, button, input, label, a{
    font-family: "Inter"; 
}

input{
    outline: none;
}

body{
    background-color: #862922;
}

button{
    cursor: pointer;
    border: none;
    
}